{{- if .Values.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "model-csi-driver.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}

---

apiVersion: storage.k8s.io/v1
kind: CSIDriver
metadata:
  name: {{ .Values.config.serviceName }}
spec:
  attachRequired: false
  podInfoOnMount: true
  volumeLifecycleModes:
  - Persistent
  - Ephemeral

---

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: model-image
provisioner: {{ .Values.config.serviceName }}
reclaimPolicy: Delete
volumeBindingMode: WaitForFirstConsumer
